{% extends 'base.html' %}
{% block mainbody %}
      <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6 center">
          <p>All kinds of items a wandering adventurer might come across:</p>
          <p><h3 class="text-primary">Armor, Potions, Magical Properties, Mounts, Tools, Trinkets and Weapons </h3></p>
          <p>from a fantasy themed realm.</p>
        </div>
        <div class="col-lg-3">
        </div>

      </div>
<div class="row">
          <hr>
    <div class="col-sm-2 col-lg-2 col-md-2">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8">
        <h1 class="center">Check it out!</h1>
        <div class="input-group">
              <span class="input-group-addon">http://hoardapi.com/api/</span>
              <input id="interactive" type="text" class="form-control" placeholder="armor/1/">
              <span class="input-group-btn"><button onClick="interactive_call();return false;" class="btn btn-primary">request</button></span>
            </div>
        <small>Not sure what to look for? try <a href="#" onClick="update('armor/1/');return false;"><i>armor/1/</i></a> or <a href="#" onClick="update('weapon/4/');return false;"><i>weapon/4/</i></a> or <a href="#" onClick="update('potion/2/');return false;"><i>potion/2/</i></a></small>
        <p class="lead pad_top">Result:</p>
        <div class="well">
          <pre id="interactive_output" class="pre-scrollable">
{
	"name": "Wristguard of Giant Strength",
	"price": "40,000 gp",
	"armorClass": "0",
	"armorType": "Medium",
	"weight": "5 lbs",
	"stealth": "-",
	"about": "Magical wristguard that bestows the strength of a giant",
	"magical": true,
	"stats": [
		{
			"charisma": 0,
			"constitution": 0,
			"defense": 0,
			"dexterity": 0,
            "intelligence": 0,
			"luck": 0,
			"perception": 0,
			"strength": 30,
			"wisdom": 0
		}
	]
}
          </pre>
        </div>
    </div>
    <div class="col-sm-2 col-lg-2 col-md-2">
    </div>
</div>
{% endblock mainbody %}
{% block scripts %}
<script>
    function update(call){
        jQuery('#interactive').val(call);
        interactive_call();
    }
    function interactive_call(){
        var content = jQuery('#interactive').val()
        if(content == ''){
            content = 'people/1/';
        }
        var call_url = 'api/' + content;
        jQuery.ajax({
      dataType: 'json',
      url: call_url,
      context: document.body
    }).complete(function(data) {
        if(data['status'] == 200){
            var d = jQuery.parseJSON(data['responseText']);
            jQuery('#interactive_output').text(JSON.stringify(d, null, '\t'));
        }
        else if (data['status'] == 404) {
            jQuery('#interactive_output').text(data['status'] + ' ' + data['statusText']);
        }
    });
    }
    </script>
{% endblock scripts %}