.center {
    text-align: center;
}

.pad_top {
    padding-top: 34px;
}

.pad_bot {
    padding-bottom: 34px;
}

.subscribe_btn {
    margin-left: -100px!;
}

.chestLogo {
  padding: 3px;
  height: 60px;
}

.jumbotron {
    background-color: rgba(255, 255, 255, .0);
    display: block;
    position: relative;
}

.jumbotron > h1,
.jumbotron > h2 {
    color: #fffff0;
    text-shadow: 2px 2px 2px #0e0e0e;
}
.jumbotron > h1 {
    padding-top: 20px;
}
.jumbotron > h2 {
    padding-bottom: 20px;
}

.jumbotron:after {
  content: "";
  background: url('../img/treasure.jpeg');
  background-size: cover;
  background-position: 50% 70%;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
}

.jumbobg {
    background-image: url('../img/treasure.jpeg');
    background-size: cover;
    background-position: 50% 65%;
}


.textbg {
    width: 60%;
    background: black
}

.navbar {
    border:none;
    border-radius: 0;
}